<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <!-- <link rel="stylesheet" href="stylesheets/app.css"> -->
  </head>
<body>


  <div class="ui secondary  menu">
    <a class="active item" href="/">
      BlogApp
    </a>
    <a class="item" href="/blog/new">
      New BlogPost
    </a>
  </div>
